{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

{% block addons %}
  <link rel="import" href="../bower_components/iron-form/iron-form.html">
  <link rel="import" href="../bower_components/paper-card/paper-card.html">
  
  <script type="text/javascript">
  function clearExp() {
    document.getElementById('eval').value = '';
  }
  </script>
{% endblock %}

{% block inputblock %}

  Enter any expression by using variables for matrices.
  <br>
  Specs

  Variable Names - Capital letter (eg. A, C, X)
  Operations - +, - , *, tr, det, trans, adj, inv, id(n) (identity matrix of dimn n), rows(A) (number of rows in A), cols(A) (number of columns in A)
  <br>
  Expression example
  det(inv(A * trans(A)) - id(rows(A)))
  
  <form id="eval-form" method="post">
    <paper-card heading="Enter the Expression" style="text-align: center">
      <div class="card-content">
	<div class="eval-exp">
	  <paper-input label="Expression" error-message="Invalid Expression!" pattern="[A-Za-z0-9()[\]{}^*+\-\\. ]+" name="eval" value="{{ exp }}" style="width: 250px; margin-bottom: 10px" auto-validate required></paper-input>
	</div>
	<div>
	  <paper-button onclick="this.getElementsByTagName('button')[0].click();" raised id="paper-submit" style="background: #03A9F4; color: white"><button type="submit">Calculate</button></paper-button>
	</div>
      </div>
    </paper-card>

    <input type="hidden" name="q" value="evaluate">
    <input type="hidden" name="user_id" value="{{ user_id }}">
  </form>

  <div class="error">
    {{ error }}
  </div>
  
{% endblock %}
