{#-*- engine:django -*-#}
<!DOCTYPE html>

<html>
  <head>
    <title>Mathrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Rajdhani|Exo+2:400,100,200,300,500|Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <!-- crap that Arshia has to fix asap -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });</script>

    
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    
    <!-- Polymer imports -->
    <link rel="import" href="../bower_components/paper-button/paper-button.html">         
    <link rel="import" href="../bower_components/polymer/polymer.html">    
    <link rel="import" href="../bower_components/iron-input/iron-input.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../bower_components/paper-styles/paper-styles.html">

    {# <dom-module id="custom-button">
      <link rel="import" href="../bower_components/paper-button/paper-button.html">
      <template ref="{{ref}}">      
        <style is="custom-style">
        paper-button {
	  background-color: var(--paper-blue-500);
	  color: white;
        }
        </style>
        <div class="my-button">
          {{ ref }}
          <a href="/mathrix/evaluate">
            <paper-button raised>
              <content></content>
            </paper-button>
          </a>
        </div>
      </template>
      <script>
      Polymer({
        is: 'custom-button',
        properties: {
          ref: {
            type: String,
            value: "/mathrix/evaluate"
          }
        }
      });
      </script>
    </dom-module> #}



    <!-- Customize paper-button for submitting forms -->
    
    <style shim-shadowdom>
    #paper-submit {
      padding:0px;
      margin: 0px;
    }
    #paper-submit::shadow .button-content {
      padding:0;
    }
    #paper-submit button {
      width: 100%;
      height: 100%;
      padding: 0px;
      background-color: transparent;
      border-color: transparent;
    }
    #paper-submit button:focus {
      outline: none;
    }
    #paper-submit button::-moz-focus-inner {
      border: 0;
    }
    .fab {
      position: fixed;
      right: 10%;
      bottom: 10%;
    }
    </style>

    <script type="text/javascript">
    document.getElementById('paper-submit').onclick="paperSubmit()";
    </script>

    <script language="javascript" type="text/javascript" src="/static/js/paper-submit.js"></script>

    {% block addons %}
      
      <style is="custom-style">
      paper-button {
	background-color: var(--paper-blue-500);
	color: white;
      }
      </style>
      
    {% endblock %}

    <!-- Google Analytics script -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66886788-1', 'auto');
    ga('send', 'pageview');

    </script>
  </head>

  <!-- Body of Page -->
  
  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KK5X7T"
		      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
							  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
							                                            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KK5X7T');</script>
    <!-- End Google Tag Manager -->

    

    <div id="wrapper" class="toggled">
      <div class="container-fluid greenborder">
	<div class="row greenborder">
	  <a href="/mathrix" id="website" style="text-decoration:none">
	    <h1 class="text-center col-md-12">MATHRIX</h1></a>
	</div>  
	<div class="row greenborder">  
	  <h3 class="text-center col-md-12">THE MATRIX CALCULATOR</h3>
	</div>
	<br>
	<br>
	<!-- Checks if an operation has been called for and renders accordingly -->

	<!-- Block gets replaced when the HTML file is inherited by another containing the same block -->
	
	<div class="content">

	  {% block inputblock %}
	    <div class="my-button"><a href="/mathrix/evaluate"><paper-button raised>Evaluate Expression</paper-button></a></div>
            {# <paper-button raised><a href="/mathrix/evaluate" style="text-decoration: none; margin: inherit">Evaluate Expression</a></paper-button> #}
	    
	    <!-- Grid for frontpage -->
            
            <div class="row flex-container greenborder">
              <div class="col-md-6 flex-container greenborder">
          	{% for op in f[:3] %} <!-- Iterate through the next 3 operaions -->	    
          	  <a href="/mathrix/num?q={{ op[1] }}">
                    <button type="button" class="btn btn-default operation-{{ op[1] }}">{{ op[0] }}</button>
                  </a>
          	{% endfor %}
              </div>
            </div>
            
            {% for i in range(1, (f|length // 3) + 1) %}  <!-- Iterate through  0 - length(f) / 3 -->
              <div class="row flex-container greenborder">
          	<div class="col-md-6 flex-container greenborder">
          	  {% for op in f[(3 * i):(3 * i + 3)] %} <!-- Iterate through the next 3 operaions -->	    
          	    <a href="/mathrix/{{ op[1] }}">
                      <button type="button" class="btn btn-default operation-{{ op[1] }}">{{ op[0] }}</button>
                    </a>
          	  {% endfor %}
          	</div>
              </div>
            {% endfor %}

  	    <!-- Frontpage message-->
	    <div class="about text-center">
      	      Want to calculate RREF of a 5x5 matrix?  Want to multiply 2 or more matrices? You can use this calculator and avoid all tedious computations.
            </div>
	  {% endblock %}
	</div> 
	
	<a href="/mathrix/evaluate" class="fab"><paper-fab mini icon="create"></paper-fab></a>

	<footer>
	  &copy; Arshia and Milap. 2015
          <a href="https://github.com/am-projects/mathrix"><img src="/static/images/github.png" alt="Github" height="30" width="30"></a>
	</footer>
        <div class="feedback-link">
          <a href="/mathrix/feedback">Feedback</a>
        </div>
      </div>
    </div>
    <!-- jQuery and JavaScript-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>

<!--
TODO:
1. add dropdown for "enter dimension" (?) check w milap
2. add sidebar + transition somehow
3. add css to input.html - on TUESDAY
4. add css to result and domain page
5. fix the footer
6. add modals + embed latex somehow (download/compile bootstrap.min.js)
7. decide on color scheme/background
-->
