{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

{% block addons %}
  <link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

  <script type="text/javascript">

  function fillZeroes() {
    var pinputs = document.getElementsByTagName('paper-input');
    var inputs = document.getElementsByTagName('input');

    for (var i = 0; i < inputs.length; i++) {
      if (inputs[i].value === "")
	pinputs[i].updateValueAndPreserveCaret("0");
    }
  }
  
  function submitForm() {
    document.getElementById('input-form').submit();
  }
  
  </script>

  
{% endblock %}

{% block inputblock %}

  <div class= "row vertical-flex-container greenborder">
    <hr>
    <form method="post" id="input-form">
      
      Expression to be evaluated {{ exp }}
      
      <div class="matrix-input vertical-flex-container greenborder">
	{% for A in matrices %}       <!-- All Entered Matrices -->
	  {% set p = loop %}
	  <div class="new-matrix">
	    <table class="greenborder custom-table">
    	      {% for i in A %}
    		{% set row = loop %}
    		<tr>
    		  {% for j in i %}
    		    <td>
    		      <paper-input class="matrix-cell" name="A[{{ p.index0 }}][{{ row.index0 }}][{{ loop.index0 }}]" pattern="^([-][0-9])?[0-9]*([.][0-9]*)?$" label="a{{ row.index0 }}{{ loop.index0 }}" value={% if j != '' and j.is_integer() %}"{{ j|int }}"{% else %}"{{ j }}"{% endif %} auto-validate required>
    		    </td>
    		  {% endfor %}
    		</tr>
    	      {% endfor %}
	    </table>
	  </div> <!-- new-matrix -->
	{% endfor %}
      </div> <!-- matrix-input -->
      <paper-button onclick="fillZeroes()" style="text-transform: none; margin-top: 10px" raised>Fill Empty Cells with Zeroes</paper-button>
      <div class="error">
	{{ error }}
      </div>
      {% if q in detailed %}
	<div class="detail">
	  <input type="hidden" name="detail">
	  <paper-checkbox onclick="var bool = document.getElementsByName('detail')[0].value; document.getElementsByName('detail')[0].value = !bool;">Show Detailed Solution</paper-checkbox>
	</div>
      {% endif %}
      <div class="submit flex-container greenborder">
	<paper-button id="paper-submit" style="background: #03A9F4; color: white; margin-top: 10px" onclick="this.getElementsByTagName('button')[0].click();" raised><button type="submit">Calculate</button></paper-button>
      </div>
      {#% for p in range(num if q in ['mult', 'evaluate'] or num else 1) %}
	<input type="hidden" name="r{{ p }}" value="{{ dim[p][0] }}">
	{% if q not in square %}<input type="hidden" name="c{{ p }}" value="{{ dim[p][1] }}">{% endif %}
      {% endfor %}
      <input type="hidden" name="num" value="{{ num }}">
      <input type="hidden" name="q" value="{{ q }}">#}
      <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>
  </div> 

{% endblock %}

