{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

<!-- Includes MathJax just for the Results Page -->

{% block addons %}

  <script type="text/javascript"
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <link rel="import" href="../bower_components/paper-card/paper-card.html">
  <link rel="import" href="../bower_components/paper-button/paper-button.html">

  {% if q in detailed %}
    {# <script language="javascript" type="text/javascript" src="/static/js/output.js"></script> #}

    <script type="text/javascript">
    function showHide(dom) {
      document.getElementById('result-small').style.display =  dom.active ? 'none' : 'block';
      document.getElementById('result-full').style.display =  dom.active ? 'block' : 'none';
    }
    </script>
  {% endif %}

  <style is="custom-style">
  paper-card {
    background-color: var(--paper-light-blue-300);
    width: 100%;
  }
  #detail {
    background: var(--paper-light-green-300);
  }
  #detail[toggles][active] {
    background: var(--paper-light-green-500);
  }
  </style>

{% endblock %}


{% block inputblock %}
  
  
  <!-- To check if the result produce errors -->

  {% if not error %}

    <div style="margin: auto;"><paper-card heading="$$ \textit{Result} $$" elevation="1">
      <div class="card-content">
        <paper-button id="detail" onclick="showHide(this); this.active = this.active ? 'true' : ''" toggles>Show Detailed Solution</paper-button>
        <div class="final" id="result-small">
          {% for p in range(ans|length) %}
	    \begin{bmatrix}
	    {% for i in ans[p] %}
	      {% set row = loop %}
	      {% for j in i %}
	        {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %} {% if not loop.last %}&{% endif %}
	      {% endfor %}
	      {% if not loop.last %}\\{% endif %}
	    {% endfor %}
	    \end{bmatrix}
          {% endfor %}
        </div>
        <div class="final" id="result-full" style="display: none">
	  \begin{array}{c{% if steps %}cc{% endif %}}
	  
	  {% if q == 'evaluate' %} {{ exp }} {% else %} A {% endif %} {% if soln %} & {% if 1 == soln[0][0]|length %} \vec{b} {% else %} B {% endif %} {% endif %} {% if steps %} & \text{Row Operations} {% endif %} \\
	  
	  {% for p in range(ans|length) %}
	    \begin{bmatrix}
	    {% for i in ans[p] %}
	      {% set row = loop %}
	      {% for j in i %}
	        {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %} {% if not loop.last %}&{% endif %}
	      {% endfor %}
	      {% if not loop.last %}\\{% endif %}
	    {% endfor %}
	    \end{bmatrix}
	    
	    {% if soln %}		{# <!-- To display the detailed row reductions --> #}
	      &
	      \begin{bmatrix}
	      {% for i in soln[p] %}
	        {% set row = loop %}
	        {% for j in i %}
		  {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %} {% if not loop.last %}&{% endif %}
	        {% endfor %}
	        {% if not loop.last %}\\{% endif %}
	      {% endfor %}
	      \end{bmatrix}
	    {% endif %}
	    
	    {% if steps %}
	      &
	      {{ steps[p] | safe }}
	    {% endif %}
	    {% if not loop.last %} \\ {% endif %}
	  {% endfor %}
	  \end{array}

	  <!-- To show the spanning solution set -->
	  {% if span %}
	    
	    \begin{matrix}
	    \textit{Solution Set of} \quad [ \, A \, | \, {% if soln[-1][0]|length == 1 %} \vec{b} {% else %} B {% endif %} \, ] \quad \textit{ is } \quad
	    
	    {% for j in range(soln[-1][0]|length) %}
	      \begin{bmatrix}
	      {% for i in range(span|length) %}
	        {{ span[i][j] | safe }} {% if not loop.last %} \\ {% endif %}
	      {% endfor %}
	      \end{bmatrix}
	    {% endfor %}
	    
	    {% if span[0]|length > 1 %} +  \text{Span } \left\{ {% endif %}
	    {% for j in range(soln[-1][0]|length, span[0]|length) %}
	      \begin{bmatrix}
	      {% for i in range(span|length) %}
	        {{ span[i][j] | safe }} {% if not loop.last %} \\ {% endif %}
	      {% endfor %}
	      \end{bmatrix}
	      {% if not loop.last %} \, , {% endif %}
	    {% endfor %}
	    {% if span[0]|length > 1 %} \right\} {% endif %}
	    \end{matrix}
	    
	  {% endif %}
        </div>
      </div>
    </paper-card></div>

  {% else %}

    <div class="error">
      $$ \textit{ {{ ans }} } $$
    </div>

  {% endif %}

{% endblock %}


<!--{# Old shitty method to display Result
    <table class="result">
    {% for i in A %}
    {% set row = loop %}
    <tr>
    {% for j in i %}
    <td>
    {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %}
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% if soln %}
    <table class="solution">
    {% for i in soln[loop.index0] %}
    {% set row = loop %}
    <tr>
    {% for j in i %}
    <td>
    {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %}
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <span class="steps">
    {% if steps %}
    {{ steps[loop.index0] | safe }}
    {% endif %}
    </span>#}
-->
