{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

<!-- Includes MathJax just for the Results Page -->

{% block addons %}

  <script type="text/javascript"
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <link rel="import" href="../bower_components/paper-card/paper-card.html">
  <link rel="import" href="../bower_components/paper-button/paper-button.html">

  <script language="javascript" type="text/javascript" src="/static/js/output.js"></script>

  <style is="custom-style">
  paper-card {
    background-color: var(--paper-light-blue-300);
    width: 100%;
  }
  #detail {
    background: var(--paper-teal-300);
  }
  </style>

  <script>
  function hide(dom) {
    dom.style = (dom.style == "display: block") ? "display: none" : "display: block";
  }
  </script>
{% endblock %}


{% block inputblock %}
  
  
  <!-- To check if the result produce errors -->

  {% if not error %}

    <div style="margin: auto;"><paper-card heading="$$ \textit{Result} $$" elevation="1">
      <div class="card-content">
        
        <paper-button id="detail" toggles>Show Detailed Solution</paper-button>
        
        <div class="final" id="result-full" style="display: none">

          <div class="stepper">

            {% set i = 1 %}
            
            {% for step in steps %}
              {% if step == 'done' %}
          </div>
          <div class="stepper">
            {# <paper-icon-button icon="clear" onclick="hide(this)" style="position: relative; margin-right: 0px; margin-top: 0px"></paper-icon-button> #}
              {% else %}
              <div>
                $$ {{ i }}) \qquad {{ step | safe }} $$
              </div>
              {% set i = i + 1 %}
              {% endif %}
            {% endfor %}

          </div>

        </div>
        
        <div class="final" id="result-small">
          $$ {{ ans | safe }} $$
        </div>

      </div>
    </paper-card></div>

  {% else %}

    <div class="error">
      $$ \textit{ {{ error | safe }} } $$
    </div>

  {% endif %}

{% endblock %}


<!--{# Old shitty method to display Result
    <table class="result">
    {% for i in A %}
    {% set row = loop %}
    <tr>
    {% for j in i %}
    <td>
    {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %}
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% if soln %}
    <table class="solution">
    {% for i in soln[loop.index0] %}
    {% set row = loop %}
    <tr>
    {% for j in i %}
    <td>
    {% if j != '' and j is number and j.is_integer() %}{{ j|int }}{% else %}{{ j }}{% endif %}
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <span class="steps">
    {% if steps %}
    {{ steps[loop.index0] | safe }}
    {% endif %}
    </span>#}
-->

