{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

{% block inputblock %}

	Enter any expression by using variables for matrices.
	<br>
	Specs

	Variable Names - Capital letter (eg. A, C, X)
	Operations - +, - , *, tr, det, trans, adj, inv, id(n) (identity matrix of dimn n), rows(A) (number of rows in A), cols(A) (number of columns in A)
	<br>
	Expression example
	det(inv(A * trans(A)) - id(rows(A)))
	
	<form method="post">
		<h2> Enter the Expression </h2>
		<div class="eval-exp">
			<input type="text" name="eval" value="{{ exp }}">
		</div>
		<div class="submit">
			<input type="submit" value="Calculate">
		</div>

		<input type="hidden" name="q" value="evaluate">
	</form>

	<div class="error">
		{{ error }}
	</div>
	
{% endblock %}
