{#-*- engine:django -*-#}
{% extends "mathrix/front.html" %}

{% block inputblock %}

	{% if q == 'solve' %}{% set num = 2 %}{% endif %}
	
	{% if q in double and not num %}
		<div id="page-content-wrapper">
			<form>
				<div class="row greenborder vertical-flex-container">
					<div class="col-md-6 greenborder vertical-flex-container">
						<h3 class= "greenborder">Enter number of matrices to {{ q }}</h3>
						<br>
						<input class="greenborder" type="number" name="num" min="2" max="10" required>
						<input type="hidden" name="q" value="{{ q }}">
						<a href="/mathrix/input"><button type="button" class=" btn btn-default"> <input type="submit" value="Enter"> </button></a>
					</div>
				</div>
			</form>
			<div class="row greenborder flex-container">
				<a href="#menu-toggle" id="menu-toggle"><button type="button" class=" btn btn-default">More...</button></a>
			</div>
		</div>
		
	{% else %}

		<form action="/mathrix/input" method="post">
			
			<div class="row greenborder vertical-flex-container">

				{% if q == 'evaluate' %}
					Expression to be evaluated <em>{{ exp }}</em>
				{% endif %}
				
				<div class="col-md-6 greenborder vertical-flex-container setcustomtext">
					{% for i in range(num if q in ['mult', 'evaluate'] or num else 1) %}
						<div class="greenborder">
							Enter the dimension of the matrix{% if q == 'mult' %} {{i + 1}}{% endif %}
							{% if q == 'evaluate' %} {{ unknowns[i] }} {% endif %}
						</div>
						<div class="rows greenborder">
    							<input type="number" name="r{{ i }}" min="1" max="10" required>
						</div>
						<div class="columns greenborder">
    							{% if q not in square %}<input type="number" name="c{{ i }}" min="1" max="10" required>{% endif %}</div>
					{% endfor %}
					<div class="error"> {{error}} </div>
					<input type="submit" value="Enter">
				</div> <!-- col-md-6 -->
				<input type="hidden" name="num" value="{{ num }}">
				<input type="hidden" name="q" value="{{ q }}">
			</div> <!-- row --> 
		</form>

	{% endif %}

{% endblock %}
